<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Screen OFF{%endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">
    <link href="{% static 'css/style_old.css' %}" rel="stylesheet">
</head>
<body>
<form method="post">
    {% csrf_token %}
    <button name="screenoff" class="btn btnPrimary" type="submit">Screen OFF</button>
</form>
<form method="post" >
        {% csrf_token %}
        <button name="screenon" class="btn btnPrimary" type="submit">Screen ON</button>
    </form>
</body>
</html>
